.body {
    display: flex;
    justify-content: center; 
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 2px 2px #333;
}

.atmosphere-data {
    display: flex;
    font-size: 45%;
    justify-content: space-around;
}

.weather-img {
    width: 45%;
}